main > .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}

.error {
  color: red;
  text-align: center;
}

.row,
.rowButtons {
  display: flex;
  gap: 20px;
}

.row > * {
  flex: 1;
}

.rowButtons {
  align-self: center;
}