.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
	margin-top: 10px;
	align-self: center;
}

.forgot {
  font-size: 12px;
  color: var(--gray-7);
  transition: all 0.2s ease;
}

.forgot:hover {
  color: var(--color-primary-light);
  scale: 1.02;
}

.forgot:active {
  color: var(--color-primary-dark);
  scale: 0.98;
}
