.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs > * {
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot {
  font-size: 12px;
  color: var(--color-primary);
	text-align: center;
  transition: all 0.2s ease;
}

.forgot:hover {
  color: var(--color-primary-light);
  scale: 1.02;
}

.forgot:active {
  color: var(--color-primary-dark);
  scale: 0.98;
}
