.wrapper {
  position: relative;
}

.inputPassword {
  padding-right: 35px;
}

.eyeContainer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--gray-B);
  height: 22px;
}
