.main {
  margin-top: 10px;
}

.table {
  width: 100%;
  border: 2px solid var(--gray-A);
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  color: var(--gray-5);
  font-weight: 500;
}

tr {
  height: 40px;
}

th,
td {
  border: 1px solid var(--gray-C);
  padding: 8px;
}

.thead {
  color: var(--gray-4);
  background: var(--gray-E);
}
