EMAIL_HOST=[mail.protinalproagro.com.ve | smtp.gmail.com]
EMAIL_PORT=[465 | 587]
EMAIL_USE_SSL=[True | False]
EMAIL_USE_TLS=[False | True]
EMAIL_HOST_USER=tu-email@ejemplo.com
EMAIL_HOST_PASSWORD=tu-contraseña-super-dificil!
DEFAULT_FROM_EMAIL=noreply@ejemplo.com
FRONTEND_URL=http://<IP_DEL_HOST>:5173
IP_DEL_HOST=192.192.192.192
