EMAIL_HOST=[mail.protinalproagro.com.ve | smtp.gmail.com]
EMAIL_PORT=[465 | 587]
EMAIL_USE_SSL=[True | False]
EMAIL_HOST_USER=[jgimenez@protinalproagro.com.ve | jgimenezeee@gmail.com]
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=[noreply@gmail.com | noreply@protinalproagro.com]
FRONTEND_URL=http://<IP_DEL_HOST>:5173
IP_DEL_HOST=<IP_DEL_HOST>
