main > .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
	width: 600px;
}

.error {
  color: red;
  text-align: center;
}

.currentCode {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  width: 500px;
  align-self: center;
}

.row, .rowButtons {
  display: flex;
  gap: 20px;
}

.row > * {
	flex: 1;
}

.rowButtons {
	align-self: center;
}
