.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main > .card {
  width: 600px;
}

.row, .rowButtons {
  display: flex;
  gap: 20px;
}

.row > * {
	flex: 1;
}

.rowButtons {
	align-self: center;
}
