/* Estilos para el modal de éxito */
.blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.successCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.7);
  z-index: 1001;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.p {
  width: 300px;
}

.cardButtons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
