form > .title {
  font-size: 18px;
}

.successMessage {
  text-align: center;
  color: green;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

.passwordError {
  text-align: center;
  color: red;
  font-size: 14px;
  margin-top: -15px;
}

.confirm {
  margin-top: -10px;
}

.outButton {
  margin-top: -10px;
}

.button {
  align-self: center;
  width: 170px;
}
