.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main > .card {
  width: 600px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.row > * {
  width: 100%;
}

.row > .buttonLimpiar,
.row > .buttonGuardar {
  width: fit-content;
}
