.historyBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 10px 30px;
  width: 100%;
  gap: 30px;
  border-radius: 20px;
  background: var(--gray-D);
}

.span {
  font-weight: 500;
  color: var(--gray-4);
  width: 200px;
}
