.wrapper {
  position: relative;
}

.inputPassword {
  padding-right: 35px;
  width: 100%;
}

.error {
  border-color: red;
}

.eyeContainer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--gray-B);
  height: 22px;
}

.inputPassword::-ms-reveal {
  display: none;
}
