.userSection {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}

.userSection .button,
.userSection .button:hover,
.userSection .button:active {
	width: fit-content;
  background-color: white;
  color: red;
  border: red 1px solid;
}