.backButton {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 0px 10px;
  gap: 7px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.backButton:hover {
  background-color: color-mix(in srgb, var(--color-secondary), white 20%);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  scale: 1.02;
}

.backButton:active {
  background-color: color-mix(in srgb, var(--color-secondary), black 5%);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  scale: 0.98;
}