.navBar {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLink {
  text-decoration: none;
  color: var(--gray-5);
}

.navLink:hover {
  color: var(--color-primary-light);
}
