.button {
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
	box-sizing: border-box;
  padding: 10px 15px;
  gap: 7px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.button:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  scale: 1.02;
}

.button:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  scale: 0.98;
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-primary-light);
}

.primary:active {
  background-color: var(--color-primary-dark);
}

.secondary {
  background-color: var(--color-secondary);
}

.secondary:hover {
  background-color: var(--color-secondary-light);
}

.secondary:active {
  background-color: var(--color-secondary-dark);
}

.reset {
  background-color: var(--gray-9);
}

.reset:hover {
  background-color: var(--gray-A);
}

.reset:active {
  background-color: var(--gray-8);
}