:root {
  --color-primary: #087033;
  --color-primary-light: color-mix(in oklab, var(--color-primary), white 5%);
  --color-primary-dark: color-mix(in oklab, var(--color-primary), black 10%);
  --color-primary-semi-white: rgb(206, 226, 214);
  --color-primary-white: rgb(230, 241, 235);
  --color-secondary: #f9cc00;
  --color-secondary-light: color-mix(
    in oklab,
    var(--color-secondary),
    white 10%
  );
  --color-secondary-dark: color-mix(in oklab, var(--color-secondary), black 5%);
  --color-tertiary: #c30000;
  --gradient: radial-gradient(at center, white, var(--color-primary-white));
  --gray-0: #000;
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;
  --gray-A: #aaa;
  --gray-B: #bbb;
  --gray-C: #ccc;
  --gray-D: #ddd;
  --gray-E: #eee;
  --gray-F: #fff;
  --font-family: Montserrat;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 20px 30px;
  gap: 20px;
  background: linear-gradient(to bottom, var(--color-primary), white);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: white;
  -webkit-text-stroke: 3px var(--gray-5);
  paint-order: stroke fill;
  text-align: center;
}

.h-dark {
  font-weight: 600;
  color: var(--gray-5);
  -webkit-text-stroke: 3px white;
  paint-order: stroke fill;
}

p {
  color: var(--gray-5);
  text-align: center;
}

.p-light {
  color: white;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

div {
  min-width: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--gray-5);
}

a,
span {
  text-align: center;
}

span {
  font-weight: 500;
}

input,
select {
  background-color: white;
  color: var(--gray-5);
  height: 30px;
  border: 1px solid var(--gray-B);
  border-radius: 10px;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
}

p,
label,
input,
select {
  font-weight: 500;
}

input::placeholder {
  color: var(--gray-B);
}

input:disabled,
select:disabled {
  color: var(--gray-5);
  background: var(--gray-D);
  opacity: 0.9;
}

select {
  text-align: center;
  text-overflow: ellipsis;
  padding-left: 0;
  overflow: hidden;
}

.card {
  width: 300px;
  background: var(--gradient);
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--gray-B);
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  gap: 20px;
  transition: all 0.3s ease;
}

.card:hover,
.card:focus-within {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border: 2px solid var(--gray-A);
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  color: var(--gray-5);
  font-weight: 500;
}

thead {
  color: var(--gray-4);
  background: var(--gray-E);
}

th,
td {
  border: 1px solid var(--gray-C);
  padding: 8px;
}
