.navBar {
  background: var(--gradient);
  display: flex;
  gap: 20px;
  padding: 17px 30px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLink {
  text-decoration: none;
  color: var(--gray-5);
  transition: all 0.2s linear;
}

.currentLink {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  line-height: 1;
}

.navLink:hover {
  color: var(--color-primary-light);
  scale: 1.02;
}

.navLink:active {
  color: var(--color-primary-dark);
  scale: 0.98;
}
