:root {
  --color-primary: #087033;
  --color-primary-light: rgb(33, 126, 71);
  --color-primary-dark: rgb(7, 101, 46);
  --color-primary-semi-white: rgb(206, 226, 214);
  --color-primary-white: rgb(230, 241, 235);
  --color-primary-semi-black: rgb(2, 22, 10);
  --color-primary-white: rgb(230, 241, 235);
  --color-secondary: #f9cc00;
  --color-tertiary: #c30000;
  --gradiendt: radial-gradient(at center, white, var(--color-primary-white));
  --gray-0: #000;
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;
  --gray-A: #aaa;
  --gray-B: #bbb;
  --gray-C: #ccc;
  --gray-D: #ddd;
  --gray-E: #eee;
  --gray-F: #fff;
  --font-family: Montserrat;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 25px;
  background-image: linear-gradient(to bottom, var(--color-primary), white);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3 {
  color: white;
  -webkit-text-stroke: 3px var(--gray-5);
  paint-order: stroke fill;
  text-align: center;
}

.h-dark {
  font-weight: 600;
  color: var(--gray-5);
  -webkit-text-stroke: 3px white;
  paint-order: stroke fill;
}

p {
  font-weight: 500;
  color: var(--gray-5);
  text-align: center;
}

.p-light {
  font-weight: 500;
  color: white;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

a {
	text-decoration: none;
}